* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
} 

body {
    display: flex;
    /* background-color: #0adb29; */
    background: url('../img/laquinta2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    /* Ajusta la imagen para cubrir todo el fondo */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}


.login {
    padding: 20px;
    background: #fafafa;
    border-radius: 20px;
    border: 2px solid rgba( 255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
    height: 500px;
    text-align: center;
   
}



.btn{
    display: flex;
}

h1{
    text-align: center;
    color: rgb(11, 3, 0);
}

.logo {
    position: relative;
    /* Necesario para posicionar elementos hijos */
    /* padding: 10px; Espacio interno */
    /* background-color: white; Color de fondo del contenedor */
    height: 50px;
    /* Altura del contenedor */
}




.log {
    width: 50px;
    /* Cambia el ancho según tus necesidades */
    height: 50px;
    /* Mantiene la proporción de la imagen */
    position: absolute;
    /* Permite posicionar la imagen */
    /* top: 20px; Distancia desde la parte superior del contenedor */
    right: 20px;
    /* Distancia desde la parte derecha del contenedor */
}

.buttons{
    margin-top: 30px;
    margin-bottom: 10px;
    justify-content: center;

    
}

.btn{
    margin: 5px;
}


.inputbox{
    position: relative;
    margin-top: 60px ;
    width: 310px;
    border-bottom: 2px solid #0e0e0e;
}

.inputbox label{
    position:absolute;
    top: 30%;
    left: 5px;
    transform: translateY(-90%);
    color: #0e0e0e;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:focus ~ :valid{
    top: -10px;
}

.inputbox input{
    width: 100%;
    height: 40px;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1em;
    padding: 0 35px 0px;
    color: #131313;
    margin: 0px;
}

.form-box{
   
    position: relative;
    width: 400px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputbox i{
   position: absolute;
   right: 8px;
   color: #080808;
   font-size: 1.2em;
}